<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAlternateNames</key>
	<array>
		<string>스커퍼</string>
		<string>앱 삭제</string>
		<string>앱 완전 삭제</string>
		<string>삭제</string>
		<string>언인스톨러</string>
		<string>uninstaller</string>
		<string>app remover</string>
		<string>app cleaner</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Application</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.application-bundle</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Scupper</string>
	<key>CFBundleIdentifier</key>
	<string>com.jhaemin.scupper</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ko</string>
	</array>
	<key>CFBundleName</key>
	<string>Scupper</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/domus-apps/scupper/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>231/UKP6u5LElqtTkMp2TwNDsr83lQSxVCiJ4UUMR7I=</string>
</dict>
</plist>
